
*{
  margin: 0;
  padding: 0;

}


.mainimg img{

     width: 100%;
     height: 550px;
}

.txt p{
    padding: 10px;
  max-width: 500px;
    font-size: 20px;
}

.menu2 a{

    display: flex;
    justify-content: left;
    text-align: none;
    text-decoration: none;
    padding: 15px 10px;
    color: black;
    
}


.contact-section {
    text-align: center;
    padding: 40px 20px;
}

.contact-section h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.contact-form {
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.contact-form input,
.contact-form select,
.contact-form textarea {
    padding: 10px;
    border: 1px solid #555;
    border-radius: 4px;
    font-size: 14px;
    width: 100%;
    outline: none;
}

.contact-form textarea {
    min-height: 120px;
    resize: none;
}

.contact-form button {
    background: #333;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 4px;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s;
}

.contact-form button:hover {
    background: #555;
}

footer {
  background-color: #ffffff;   /* fundo escuro */
  color: #000000;             /* texto branco */
  padding: 20px 0;
  margin-top: 40px;
}

.footer-container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; /* deixa responsivo */
  padding-top: 60px;
}

.footer-container p {
  margin: 0;
  font-size: 14px;
}

.footer-nav a {
  color: #000000;
  text-decoration: none;
  margin-left: 15px;
  font-size: 14px;
  transition: color 0.3s;
}

.footer-nav a:hover {
  color: #00aaff; /* muda cor no hover */
}


